<!-- Layout sidenav -->
<div id="layout-sidenav" class="<% if local_assigns[:horizontal] == true %>layout-sidenav-horizontal sidenav-horizontal container-p-x flex-grow-0<% else %>layout-sidenav sidenav-vertical<% end %> sidenav bg-sidenav-theme">

  <!-- Inner -->
  <ul class="sidenav-inner<% if local_assigns[:horizontal] != true %> py-1<% end %>">

    <li class="sidenav-item<%= current_page?(root_path) ? ' active' : '' %>">
      <%= link_to root_path, class: "sidenav-link" do %>
        <i class="sidenav-icon ion ion-ios-contact"></i><div><%= I18n.t('labels.dashboard') %></div>
      <% end %>
    </li>

    <li class="sidenav-divider mt-auto mb-1"></li>
    <li class="sidenav-item">
      <%= button_to destroy_user_session_path, form_class: 'sidenav-link w-100', class: 'btn p-0 d-flex', method: :delete, remote: true do %>
        <i class="sidenav-icon ion ion-md-log-out my-auto"></i><div><%= I18n.t('labels.sign_out') %></div>
      <% end %>
    </li>
  </ul>
</div>
<!-- / Layout sidenav -->
